html{
    font-size: 5vh;
}

@media screen and (min-width: 400px){
    html{
        font-size: 19px;
    }    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}

@keyframes swimming {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}